{% extends "layout.html" %}
{% block title %}SmartFoods.::.Raw Materials{% endblock %}
{% from 'layout.html' import navbar2, myscripts %}

{% block nav %}
    {% call navbar2() %}
       <li class="dropdown">
           <a href="#" class="dropdown-toggle" data-toggle="dropdown">Control Panel <b class="caret"></b></a>
           <ul class="dropdown-menu">
             <li><a href="/suppliers">Suppliers</a></li>
             <li><a href="/rawmaterials">Raw Materials</a></li>
             <li><a href="/products">Products</a></li>
             <li><a href="/supplies">Record Supply</a></li>
             <li><a href="/transactions">Transactions</a></li>
             <li class="divider"></li>
             <li class="nav-header">Admin Panel</li>
             <li><a href="/users">Users</a></li>
             <li><a href="/settings">Settings</a></li>
           </ul>
       </li>
    {% endcall %}
{% endblock %}

{%block content %}
    {% if err_msg %} {{ err_msg}}<br/> {% endif %}
    <form name="rmat" method="post" action="">
        <fieldset>
        <legend>Add/Edit Raw Material</legend>
        <table>
            <tr><td>Name:</td><td><input name="name" type="text" class=""/></td></tr>
            <!--<tr><td>Quality:</td><td><input name="qty" type="text" class="" /></td></tr>-->
            <tr><td>Quantity Rank:</td>
                <td>
                    <select name="qrank">
                        <option value="first">First class</option>
                        <option value="second">Second class</option>
                        <option value="third">Third class</option>
                    </select>
                </td>
            </tr>
            <tr><td>Description:</td><td><textarea name="descr" type="text" class=""></textarea></td></tr>
            <tr><td></td><td><input name="submit" value="Save" type="submit" class="btn" /></td></tr>
        </table>
        </fieldset>
    </form>
    <br/>
    <table class="table table-condensed" style="padding-bottom: 0px; margin-bottom:0px; border-bottom:none;
        background-color:#333;color:ffffff;">
            <tr><th style="color:#fff">Raw Materials</th><th></th></tr>
    </table>
    <table class="table table-condensed table-striped table-bordered">
        <tr><th>Name</th><th>Description</th><th>Quantity Ranking</th><th>Quality</th><th>Action</th></tr>
        {% for l in res %}
            <tr>
                <td>{{ l.name }}</td>
                <td>{{ l.descr }}</td>
                <td>{{ l.quality_rank}}</td>
                <td>{{ l.quantity }}</td>
                <td>
                    <a href="/rawmaterials?ed={{ l.id }}&page={{ page }}"><i class="icon-edit"></i></a>
                    &nbsp;&nbsp;&nbsp;
                    <a href="/rawmaterials?d_id={{ l.id }}&page={{ page }}"><i class="icon-remove"></i></a>
                </td>
            </tr>
        {% endfor%}
    </table>
    {{ pagination_str }}
{% endblock %}

{%block scripts %}
    {% call myscripts() %}
    {% endcall %}
{% endblock %}
